/*neumorphism*/

button, input{
    width: 100%;
    height: 100%;
    background-color:transparent;
    color: black;
}

.theme{
    width: 100%;
    height: 100%;
    overflow: auto;
}

/*neumorphism*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.title {
    margin: 40px 20px;
    font-size: 40px;
}