
.neumorph_container{
    border-radius: 50px;
    max-height: 10px;
    max-width: 300px;
    margin:20px;
    box-shadow: 5px 5px 10px #bebebe;
}

.neumorph_progress{
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: -5px -5px 10px #ffffff;
}

.neumorph_progress .progress_fill{
    border-radius: 50px;
    background-color: #ffffff;
    height: 100%;
}