.neumorph_container{
    border-radius: 10px;
    max-height: 50px;
    max-width: 200px;
    margin:20px;
    box-shadow: 5px 5px 10px #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.neumorph_dropdown{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: -5px -5px 10px #ffffff;
}

.neumorph_dropdown text{
    font-size: 20px;
    margin: 0 20px;
}

.neumorph_dropdown .icon{
    width: 12px;
    height: 12px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    transform: rotate(45deg);
}